@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html, 
body {
  background-image: url('./images/ddbfa9b7156923420947dc1ca4ef94ae.png');
  font-family: 'Roboto', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  background-color: hsl(240, 11%, 17%, 0);
  display: flex;
  align-items: center;
  // box-shadow: 3px 3px 5px 3px #00000055;
  z-index: 5;
}

.hamburger-button {
  margin-left: calc(150px - 50px);
  vertical-align: middle;
  width: 65px;
  height: 65px;
  background-image: url('./images/menu_icon_inverse.png');
  background-size: cover;
  background-color: hsla(0, 80%, 48%, 0);
  text-shadow: 1.5px 1.5px 3px 3px #00000055;
  border-radius: 25%;
  // border: 1px hsla(0, 0%, 0%, 0.4) solid;
  border: none;
  padding: none;
  transition: 0.03s;
    &:active {
      margin-top: 5px;
      // margin-left: calc(4% + 1px);
      margin-left: calc(151px - 50px);
      box-shadow: inset 3px 3px 5px 3px #00000055;
    }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: hsl(240, 11%, 17%);
  box-shadow: -3px -3px 5px 3px #00000055;
  z-index: 5;
  color: white;
  text-align: right;
  font-size: 9px;
  padding-right: 10px;
}

.app {
  display: flex;
  position: fixed;
  top: 75px;
  bottom: 50px;
  left: 0;
  right: 0;
  flex-direction: row;
  background-color: hsla(240, 15%, 41%, 0);
  width: 100%;
}

.list {
  &-open {
    position: fixed;
    backdrop-filter: blur(4px);
    text-align: center;
    width: 10%;
    min-width: 300px;
    background-color: hsla(236, 39%, 32%, 0.2);
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 6;
    padding-top: 0px;
    transition: 0.4s;
  }
  &-closed {
    height: 0px;
    width: 0px;
    visibility: hidden;
    transition: height 0.4s hidden 0.4s;
  }
}

.nav {
  &-open {
    height: 100%;
  }
  &-closed {
    height: 0px;
  }
}

.display {
  background-color: hsla(236, 39%, 32%, 0);
  // background-image: url('./images/ddbfa9b7156923420947dc1ca4ef94ae.png');
  background-size: cover;
  display: flex;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  min-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.nav-button {
  backdrop-filter: blur(4px);
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3em;
  margin: 10px 0 10px 0;
  background-color: hsla(235, 47%, 15%, 0.623);
    &__text {
      // line-height: 2em;
      font-weight: 400;
      margin: 0px 0px 0px 0px;
      color: white;
    }
    &:active {
      padding-top: 5px;
      height: calc(3em - 5px);
      box-shadow: inset 3px 3px 5px 3px #00000055;
    }
    &--city {
      width: 90%;
      margin: 0 auto;
      margin-top: 2px;
      margin-bottom: 2px;
      display:flex;
      justify-content: center;
    }
    &__favourite {
      height: 2em;
      justify-self: center;
      display:inline
    }
}


.weather-widget {
  margin: 20px;
  width: 250px;
  height: 350px;
  color: white;
  font-weight: 300;
  background-color: hsla(238, 43%, 15%, 0.781);
  backdrop-filter: blur(5px);
  box-shadow: 3px 3px 5px 3px #00000055;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  transition: 0.2s;
  border: 5px hsla(237, 44%, 8%, 0.781) solid;
  &:hover {
    margin-top: 15px;
    // margin-left: 15px;
    box-shadow: 3px 3px 8px 6px #00000055;
  }
  &__large {
      backdrop-filter: blur(18px);
      position: absolute;
      width: 80vw;
      height: 80vh;
      top: 0;
      left: 8vw;
      bottom: 0;
      right: 0;
    }
    &__placeholder {
      opacity: 0;
    }
}

.detailed-daily {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  text-align: center;
  max-width: 90%;
  height: 25%;
  background-color: white;
    &-info {
      background-color: red;
      max-width: 15%;
    }
}